.wrap{
  min-height: 100vh;
}
.nav_tabs {
  margin-bottom: 10px;
}
.desc {
  min-height: 90px;
}
.row_products {
  margin-bottom: 10px;
}
.list_products {
  margin-top: 10px;
}
.name_product {
  min-height: 80px;
}

footer {
  background-color: #8c8c8c;
  margin-top: 50px;
}
.img_prod {
  img {
    max-height: 190px;
  }
}
.cart {
  .col_img {
    width: 100px;
    img {
      width: 90px;
      //height: 90px;
    }
  }
  .col_delete {
    width: 25px;
  }
}